{{! if there are comments, display comments }}
{{#if comments.length}}
<div class="col-md-12 project-list text-center text-dark">
  <h5>Comments:</h5>
  {{! foreach loop to display each comment and its content }}
  {{#each comments as |comment|}}
  <div class="d-flex justify-content-center">
    <div class="bg-light comments card" style="width: 18rem">
      <p class="text-dark">Comment by
        {{user.name}}
        -
        {{format_date comment.date_created}}
      </p>
      <div class="col-md-7">

        <div class="card-text text">
          <p>
            {{comment.content}}
          </p>
        </div>

      </div>
    </div>
  </div>
  <br>
</div>
{{/each}}
</div>
<br>
{{/if}}