  <header id="main-header" class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            Welcome back, {{name}}</h1>
        </div>
      </div>
    </div>
  </header>


    <div class="mt-4 bg-light container text-dark">
      <h3>Your stats:</h3>
      <p>Posts:{{posts}}</p>
      </div>


<script src="./js/redditApi.js"></script>
{{!-- {{#if posts.length}}
<script src="./js/dashdeletebutton.js"></script>
{{/if}} --}}