
/*
 * Globals
 */

/* main {
  font-family: 'Roboto', sans-serif;

} */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(0, 0, 0);
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.header {

  margin-top: 100px;
}

.dropdown-item {
  color: white;
}

.btn-secondary {
  background-color: #7119E1;
}
.btn-secondary:hover {
  background-color: #5110a5;
}